[submodule "FFmpegLibrary/jni/ffmpeg"]
	path = ffmpeg_build/ffmpeg
	url = git://source.ffmpeg.org/ffmpeg.git
[submodule "FFmpegLibrary/jni/vo-aacenc"]
	path = ffmpeg_build/vo-aacenc
	url = https://github.com/mstorsjo/vo-aacenc.git
[submodule "FFmpegLibrary/jni/vo-amrwbenc"]
	path = ffmpeg_build/vo-amrwbenc
	url = https://github.com/mstorsjo/vo-amrwbenc.git
[submodule "FFmpegLibrary/jni/libass"]
	path = ffmpeg_build/libass
	url = git@github.com:libass/libass.git
[submodule "FFmpegLibrary/jni/fribidi"]
	path = ffmpeg_build/fribidi
	url = git@github.com:matthewn4444/fribidi.git
[submodule "ffmpeg_build/freetype2"]
	path = ffmpeg_build/freetype2
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "ffmpeg_build/x264"]
	path = ffmpeg_build/x264
	url = git://git.videolan.org/x264.git
[submodule "VPlayer_library/jni/tropicssl"]
	path = VPlayer_library/jni/tropicssl
	url = git://repo.or.cz/tropicssl.git
[submodule "ffmpeg_build/libpng"]
	path = ffmpeg_build/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "ffmpeg_build/fdk-aac"]
	path = ffmpeg_build/fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "VPlayer_library/jni/libyuv"]
	path = VPlayer_library/jni/libyuv
	url = https://git.chromium.org/external/libyuv.git
