VPlayer_library/jni/ffmpeg-build/**
VPlayer_library/jni/ffmpeg/**
VPlayer_library/bin/**
VPlayer_library/local.properties
VPlayer_library/gen/**
VPlayer_library/tmp/**
VPlayer_library/obj/**
VPlayer_library/libs/**
VPlayer_library/proguard/**
VPlayer_library/.settings/**
VPlayer_library/jni/.settings/**
VPlayer_library/lint.xml
VPlayer_library/jni/libyuv/**

VPlayerExample/bin/**
VPlayerExample/gen/**
VPlayerExample/tmp/**
VPlayerExample/obj/**
VPlayerExample/local.properties
VPlayerExample/proguard/**
VPlayerExample/.settings/**
VPlayerExample/lint.xml
VPlayerExample/proguard-project.txt

*~
libyuv/


.cproject
.classpath
.project
*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
