[submodule "FFmpegLibrary/jni/ffmpeg"]
	path = ffmpeg_build/ffmpeg
	url = git://source.ffmpeg.org/ffmpeg.git
[submodule "FFmpegLibrary/jni/vo-aacenc"]
	path = ffmpeg_build/vo-aacenc
	url = git://opencore-amr.git.sourceforge.net/gitroot/opencore-amr/vo-aacenc
[submodule "FFmpegLibrary/jni/vo-amrwbenc"]
	path = ffmpeg_build/vo-amrwbenc
	url = git://opencore-amr.git.sourceforge.net/gitroot/opencore-amr/vo-amrwbenc
[submodule "FFmpegLibrary/jni/x264"]
	path = ffmpeg_build/x264
	url = git://git.videolan.org/x264.git
[submodule "FFmpegLibrary/jni/tropicssl"]
	path = ffmpeg_build/tropicssl
	url = https://review.appunite.com/tropicssl.git
[submodule "FFmpegLibrary/jni/libass"]
	path = ffmpeg_build/libass
	url = https://code.google.com/p/libass/
[submodule "FFmpegLibrary/jni/fribidi"]
	path = ffmpeg_build/fribidi
	url = https://review.appunite.com/fribidi.git
[submodule "FFmpegLibrary/jni/freetype2"]
	path = ffmpeg_build/freetype2
	url = git://git.sv.gnu.org/freetype/freetype2.git
